<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelUkraine - Explore Ukraine Together</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <div class="welcome-page">
        <div class="background-slider">
            <!-- Background images will be inserted here by JavaScript -->
        </div>
        <div class="content">
            <div class="welcome-content">
                <h1>Welcome to TravelUkraine</h1>
                <p>Discover the beauty of Ukraine with local travel companions</p>
                <a href="/destinations" class="btn-go">Start Exploring</a>
            </div>
        </div>
        <div class="slider-controls">
            <!-- Slider dots will be inserted here by JavaScript -->
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <div class="logo">Our partners</div>
                <div class="partners">
                    <div class="partner">
                        <p>Upwork awarded agency</p>
                    </div>
                    <div class="partner">
                        <p> Agency Worldwide</p>
                    </div>
                    <div class="partner">
                        <p>4.9 proven client's score</p>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="footer-columns">
                    <div class="column">
                        <h3>COMPANY</h3>
                        <ul>
                            <li>Projects</li>
                            <li>Contacts</li>
                            <li>Open Source</li>
                            <li>Blog</li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3>SERVICES</h3>
                        <ul>
                            <li>Travelling</li>
                            <li>Travelling</li>
                            <li>Travelling</li>
                            <li>Travelling</li>
                            <li>Travelling</li>
                            <li>Travelling</li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul>
                            <li>Kyiv</li>
                            <li>Lviv</li>
                            <li>Odessa</li>
                            <li>Chernihiv</li>
                            <li>Cherkasy</li>
                            <li>Lutsk</li>
                            <li>Kharkiv</li>
                            <li>Dnipro</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <div class="contacts">
                    <h3>CONTACTS</h3>
                    <p>+38 096 272 2100</p>
                    <p>Ukraine, Odessa, 65058</p>
                </div>
                <div class="inquiries">
                    <h3>INQUIRES</h3>
                    <p>mail@halo-lab.com</p>
                </div>
                <div class="careers">
                    <h3>CAREERS</h3>
                    <p>dream@halo-lab.team</p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; TravelUkraine. All rights reserved</p>
            <div class="social-icons">
                <a href="#"><img src="{% static 'img/Discord.webp' %}" alt="Discord"></a>
                <a href="#"><img src="{% static 'img/Twitter.png' %}" alt="Twitter"></a>
                <a href="#"><img src="{% static 'img/Instagram.png' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'img/Facebook.png' %}" alt="Facebook"></a>
            </div>
        </div>
    </footer>
</body>
</html>

