@import url('https://fonts.google.com/selection?selection.family=Lato');

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: url('images/dark-wood.jpg') repeat;
    color: #333;
	width: 1000px;
	margin: 0 auto;
}

header {
    background: url('images/header-page.jpg') repeat;
    text-align: center;
    padding: 20px 0;
    color: white;
}

h1 {
    font-size: 32px;
}

nav {
    background-color: #f4f4f4;
    text-align: left;
    margin: 0px auto;
}

nav ul {
	background: url('images/header-page.jpg') repeat;
	padding: 0px;
	height: 25px;
	margin: 5px auto;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
	vertical-align: middle;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

main {
    display: flex;
    justify-content: space-around;
}

.courses {
    align-items: center;
    background-color: #ffffff;
	display: block;
}

.courses article {
    margin-bottom: 20px;
	width: 100%;
	display: flex;
}

.courses article figure {
    margin: 0;
    padding: 10px;
	display: inline;
	border: 1px solid #b5b5b5;
	margin: 5px;
}

.courses article figure img {
    width: auto;
    height: auto;
	
}

.courses article div {
	display: inline;
}

.courses article div p {
	display: inline;
}

figcaption {
    text-align: left;
    margin-top: 5px;
    height: auto;
	color: #67676d
}

.courses h2 {
    color: #67676d
}

.courses h3 {
    color: #dbc57a
}

.courses p {
    color: #67676d
}

/* Sidebar styling */
aside {
    width:30%;
	padding: 5px;
    background-color: #fff;
	border-left: 1px solid #9d9d9d;
}

.popular-recipes h2 {
    margin-bottom: 0px;
	color: #df6583;
}

.popular-recipes ul {
    list-style: none;
	padding: 10px;
}

.popular-recipes li a {
    display: block;
    color: #df6583;
	padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
	border-bottom: 1px solid #9d9d9d;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #444;
    color: white;
}
